---
- hosts: localhost
  gather_facts: yes
  become: yes
  connection: local
  environment:
    http_proxy: http://192.168.1.15:3128
    https_proxy: http://192.168.1.15:3128
    HTTP_PROXY: http://192.168.1.15:3128
    HTTPS_PROXY: http://192.168.1.15:3128
    no_proxy: localhost,127.0.0.1,10.0.0.0/8
    NO_PROXY: localhost,127.0.0.1,10.0.0.0/8
    PIP_INDEX_URL: https://devpi.home.stillhq.com/root/pypi/+simple/

  tasks:
    - name: Create artifacts directory
      file:
        path: /srv/github/artifacts
        state: directory
        mode: u+rwx,g+rwx,o+rwx

    - name: Run clingwrap on node (localhost fast path)
      shell: |
        python3 -mvenv /tmp/clingwrap
        /tmp/clingwrap/bin/pip3 install git+https://github.com/shakenfist/clingwrap
        /tmp/clingwrap/bin/clingwrap gather \
          --target shakenfist-ci-failure \
          --output /tmp/{{ inventory_hostname }}.zip

    - name: Extract node zip file (localhost fast path)
      shell: |
        unzip -q /tmp/{{ inventory_hostname }}.zip -d /srv/github/bundle/{{ inventory_hostname }}/ || true
        chmod -R ugo+rw /srv/github/

- hosts: all
  gather_facts: yes
  connection: ssh
  become: yes
  environment:
    http_proxy: http://192.168.1.15:3128
    https_proxy: http://192.168.1.15:3128
    HTTP_PROXY: http://192.168.1.15:3128
    HTTPS_PROXY: http://192.168.1.15:3128
    no_proxy: localhost,127.0.0.1,10.0.0.0/8
    NO_PROXY: localhost,127.0.0.1,10.0.0.0/8
    PIP_INDEX_URL: https://devpi.home.stillhq.com/root/pypi/+simple/

  tasks:
    - block:
      - name: Run clingwrap on node
        shell: |
          python3 -mvenv /tmp/clingwrap
          /tmp/clingwrap/bin/pip3 install git+https://github.com/shakenfist/clingwrap
          /tmp/clingwrap/bin/clingwrap gather \
            --target shakenfist-ci-failure \
            --output /tmp/{{ inventory_hostname }}.zip
          
      - name: Stat clingwrap file
        stat:
          path: /tmp/{{ inventory_hostname }}.zip
        register: clingwrap_file_stat

      - name: Dump state of file
        debug:
          msg: "{{ clingwrap_file_stat }}"

      - name: Collect clingwrap zip files
        fetch:
          src: "/tmp/{{ inventory_hostname }}.zip"
          dest: "/tmp/fetched-{{ inventory_hostname }}.zip"
          flat: yes
          fail_on_missing: yes

      - name: List fetched files
        shell: ls -lrt /tmp | grep fetched
        register: file_listing
        delegate_to: localhost

      - name: Dump fetched file listing
        debug:
          msg: "{{ file_listing.stdout }}"
        delegate_to: localhost

      - name: Ensure the fetched file exists
        file:
          path: /tmp/fetched-{{ inventory_hostname }}.zip
          state: file
        delegate_to: localhost
          
      - name: Stat fetched file
        stat:
          path: /tmp/fetched-{{ inventory_hostname }}.zip
        register: fetched_file_stat
        delegate_to: localhost

      - name: Dump state of file
        debug:
          msg: "{{ fetched_file_stat }}"
        delegate_to: localhost

      - name: Ensure bundle directory exists
        file:
          path: "/srv/github/bundle/{{ inventory_hostname }}"
          state: directory
        delegate_to: localhost

      - name: Extract node zip file
        shell: |
          unzip -q /tmp/fetched-{{ inventory_hostname }}.zip -d /srv/github/bundle/{{ inventory_hostname }}/ || true
          chmod -R ugo+rw /srv/github/
        delegate_to: localhost

      - name: List bundle directory
        shell: ls -lrt "/srv/github/bundle/{{ inventory_hostname }}"
        register: file_listing
        delegate_to: localhost

      - name: Dump bundle file listing
        debug:
          msg: "{{ file_listing.stdout }}"
        delegate_to: localhost
      when: inventory_hostname != "localhost"