- name: Write details of instances to workspace
  copy:
    content: |
      {% for svr in groups.allsf %}
      export {{ svr | replace('-', '_') }}={{hostvars[svr]['ansible_ssh_host']}}
      export {{ svr | replace('-', '_') }}_uuid={{hostvars[svr]['sf_uuid']}}
      {% endfor %}

      export baseuser={{base_image_user}}
      export identifier={{identifier}}
      export nodes="{{ groups.allsf | join(' ') | replace('-', '_') }}"
    dest: "{{ lookup('env', 'GITHUB_WORKSPACE') }}/ci-environment.sh"
    owner: debian
    group: debian
    mode: u=r,g=r,o=r

- name: Log environment details path
  debug:
    msg: "Environment details written to {{ lookup('env', 'GITHUB_WORKSPACE') }}/ci-environment.sh"

- name: Wait for all instances to present an "OpenSSH" prompt
  wait_for:
    port: 22
    host: "{{hostvars[item]['ansible_ssh_host']}}"
    search_regex: OpenSSH
    delay: 10
  with_items: "{{ groups['allsf'] }}"

- name: Upgrade wheel build tools
  shell: |
    python3 -mvenv /tmp/venv-build
    . /tmp/venv-build/bin/activate
    pip3 install uv build

- name: Build Shaken Fist wheel
  shell: |
    rm -f dist/*
    . /tmp/venv-build/bin/activate
    python3 -mbuild --wheel .
  args:
    chdir: "${GITHUB_WORKSPACE}/shakenfist"

- name: Determine wheel filename
  shell: ls dist | egrep "shakenfist.*\.whl"
  args:
    chdir: "${GITHUB_WORKSPACE}/shakenfist"
  register: server_wheel_file_complex

- name: Extract the wheel filename
  set_fact:
    server_wheel_file: "{{server_wheel_file_complex.stdout}}"

- debug:
    msg: "Server wheel file: {{server_wheel_file}}"

- name: Build Shaken Fist client wheel
  shell: |
    rm -f dist/*
    . /tmp/venv-build/bin/activate
    python3 -mbuild --wheel .
  args:
    chdir: "${GITHUB_WORKSPACE}/client-python"

- name: Determine wheel filename
  shell: ls dist | egrep "shakenfist_client.*\.whl"
  args:
    chdir: "${GITHUB_WORKSPACE}/client-python"
  register: client_wheel_file_complex

- name: Extract the wheel filename
  set_fact:
    client_wheel_file: "{{client_wheel_file_complex.stdout}}"

- debug:
    msg: "Client wheel file: {{client_wheel_file}}"

- name: Build Shaken Fist agent wheel
  shell: |
    rm -f dist/*
    . /tmp/venv-build/bin/activate
    python3 -mbuild --wheel .
  args:
    chdir: "${GITHUB_WORKSPACE}/agent-python"

- name: Determine wheel filename
  shell: ls dist | egrep "shakenfist_agent.*\.whl"
  args:
    chdir: "${GITHUB_WORKSPACE}/agent-python"
  register: agent_wheel_file_complex

- name: Extract the wheel filename
  set_fact:
    agent_wheel_file: "{{agent_wheel_file_complex.stdout}}"

- debug:
    msg: "Agent wheel file: {{agent_wheel_file}}"
